/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
.turbolinks-progress-bar {
    visibility: hidden;
  }


  .selection-bg ::selection {
    background-color: #79ffe1;
}

.dark .selection-bg ::selection {
        background-color: #f81ce5;
        color: white;
}

.bgrmi{
    background-color: #152136 ;
}


